@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    .link-hover-effect:hover {
        transform: scale(1.25) rotate(-3deg);
        color: theme(colors.primary);
    }

    .link-hover-effect:active {
        transform: scale(1) rotate(0deg);
    }
}

