@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  * {
    box-sizing: border-box;
  }

  p {
    font-size: clamp(20px, 2vw, 24px);
    font-weight: 400
  }

  
  html {
    background-color: theme(colors.tertiary);
  }

  body {
    overflow-x: hidden;
  }

  .link-hover-effect:hover {
    transform: scale(1.25) rotate(-3deg);
    color: theme(colors.primary);
  }

  .link-hover-effect:active {
    transform: scale(1) rotate(0deg);
  }

  .fadeIn {
    animation: 0.5s fadeIn forwards;
  }
  
  .fadeOut {
    animation: 0.5s fadeOut forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translate(-20px, 0);
    }
    to {
      opacity: 1;
      transform: translate(0px, 0px);
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: translate(0px, 0px);
    }
    to {
      transform: translate(-20px, 0);
      opacity: 0;
    }
  }
}
