@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  h1, h2, h3, h4 {
    font-family: 'Modak', system-ui;
    text-transform: uppercase;
    padding-top: 0.15em;
    color: theme(colors.primary);
  }

  h1 {
    font-size: clamp(3.5rem, 8vw, 8rem);
    line-height: 60px;

  }

  h2 {
    font-size: clamp(2.5rem, 6vw, 8rem);
    line-height: 50px;

  }

  h3 {
    font-size: clamp(2rem, 4vw, 6rem);
    line-height: 33px;
  }

  * {
    box-sizing: border-box;
    scroll-behavior: smooth
  }

  p {
    font-size: clamp(16px, 4vw, 24px);
    color: theme(colors.primary);
  }

  
  html {
    background-color: theme(colors.tertiary);
  }

  .stroke {
      -webkit-filter: drop-shadow(11px 0 0 theme(colors.tertiary)) 
      drop-shadow(0 11px 0 theme(colors.tertiary))
      drop-shadow(-11px 0 0 theme(colors.tertiary)) 
      drop-shadow(0 -11px 0 theme(colors.tertiary))
      drop-shadow(2px 2px 5px rgba(0,0,0,0.10));
      
      filter: drop-shadow(11px 0 0 theme(colors.tertiary)) 
      drop-shadow(0 11px 0 theme(colors.tertiary))
      drop-shadow(-11px 0 0 theme(colors.tertiary)) 
      drop-shadow(0 -11px 0 theme(colors.tertiary))
      drop-shadow(2px 2px 5px rgba(0,0,0,0.10));
  }

  .stroke-two {
    -webkit-filter: drop-shadow(3px 0 0 theme(colors.tertiary)) 
    drop-shadow(0 3px 0 theme(colors.tertiary))
    drop-shadow(-3px 0 0 theme(colors.tertiary)) 
    drop-shadow(0 -3px 0 theme(colors.tertiary))
    drop-shadow(2px 2px 5px rgba(0,0,0,0.10));

    filter: drop-shadow(-3px 0 0 theme(colors.tertiary)) 
    drop-shadow(0 3px 0 theme(colors.tertiary))
    drop-shadow(3px 0 0 theme(colors.tertiary)) 
    drop-shadow(0 -3px 0 theme(colors.tertiary))
    drop-shadow(2px 2px 1px rgba(0,0,0,0.10));
}

.strong-elipse::before {
  display: block;
  content: "";
  width: 102%;
  height: 120%;
  border: 1.5px solid theme(colors.primary);
  position:absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  border-radius: 50%

}
}
